# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

# Generated Javascript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store
